ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
ul li {
    padding: 10px 0;
}
.logo{
    height: 60px;
    text-align: center;
    line-height: 60px;
}
.wrapper{
    display: inline-block;
    position: relative;
}
.wrapper .ipt{
    border-radius: 4px;
    height: 30px;
    line-height: 30px;
    width: 300px;
    outline: none;
    border: none;
    font-size: 15px;
    background: #f2f2f2;
}
.wrapper span{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background-color: #000;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
    transform-origin: right center;
}
.wrapper input:focus ~ span {
    transform: scaleX(1);
    transform-origin: left center;
}
.btn{
    border: none;
    outline: 0;
    height: 30px;
    color: #fff;
    background-color: #ff9e00;
    border-color: #ff9e00;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}
.item{
    display: flex;
    justify-content: space-between;
}
.item span:last-child{
    cursor: pointer;
}
.line{
    padding-left: 20px;
}
.done{
    text-decoration: line-through;
}